@import 'variables.scss';

/* vagledning sass */

.choose-file {
  width: 100%;
  padding: 5 5 5 5;
  margin-top: 20px;
}

form p {
  display: block;
  margin-top: 40px;
}

// SectionWrapper styles

.grid-container {
  display: grid;
  // grid-template-columns: 1fr 4fr 1fr;
  // grid-gap: 15px;
  // margin-left: -15px;
  // margin-right: -15px;
  margin-bottom: 50px;
  align-items: baseline;
}
  
.content {
  padding: 30px 50px;
  text-align: left;
  max-width: 900px;
  min-width: 400px;
  // grid-column-start: 2; /* start at second vertical grid line */
  // grid-column-end: 3; /* end at fifth vertical grid line */
  border-radius: 10px;
  background-color: lightsteelblue;
}

.center {
  justify-content: center;
  align-items: center;
}

.circle {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 2em;
  color: #fff;
  grid-column-start: 1; // start at the second vertical grid line
  display: flex;
  justify-content: center;
  justify-self: center;
  line-height: 1.7; //used this instead of align-content center, because font isn't vertically centered
}  

.unchecked {
  background-color: $colHeaderBG;
}

.checked {
  background-color: green;
}

.icon{
  background-image: url('../images/icon-checkmark.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


// Bubble style


.bubble {
  grid-column-start: 2;
  background-image: url('../images/bubble.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding: 2em;
}

// Heading overrides

#heading-mod {
  font-family: sans-serif;
  text-align: left;
  font-weight: bold;
  text-transform: none;
}



// Cards

.nc-card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;  // This replaces the need for margins on the cards
  grid-auto-flow: dense;  // This line is added
  margin-bottom: 50px;
}


.nc-card {

  border-radius: 1em;
  padding: 2em;
  background-color: #fff;
  
  &.expanded {
    grid-column: span 2;  // This makes the card take up two columns when expanded
  }
}


.visible {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.hidden {
  opacity: 0;
}

.nc-card-button {
  transition: all 0.3s ease-in-out;
  border-radius: 0.5em;
  padding: 10px 30px;
  background-color: $colHeaderBG;
  color: #fff;
}



.cats-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px; 
}

.cat-title {
  background-color: white;
  border-radius: 8px; 
  border: 1px solid #000;  
  word-wrap: break-word;
  padding: 10px; 
  overflow: hidden; 
}

.cat-title.checked {
  background-color: #c2f4bc;
}

form .checkbox label {
  font-size: 1em;
  word-wrap: break-word;
}


